* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid black;
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-areas: "sidebar content";
    gap: 1rem; 
    padding: 1rem 0; 
}

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
    width: auto; 
    margin: 0;
}

nav {
    background-color: darkblue;
    padding: 0 10px;
    display: flex; 
    justify-content: space-around; 
}

nav a {
    color: white;
    display: block; 
    padding: 20px;
    text-decoration: none;
    
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid darkblue;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

main img{
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    padding: 0;
}

aside {
    border: var(--border);
    padding: 1rem; 
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: relative;
    top: 30px;
    left: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}